<!-- partial -->
<div class="footer-bot">
  <div class="container clearfix">
    <div class="col-xs-12 col-md-4 threed-widget">
      <p> &copy; <a href="#">3d kits</a> Developed by Infillhexa</p>  
        </div>
    <div class="col-xs-12 col-md-8">
      <ul class="social-area clearfix">
      <li><a class="facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="google-plus" target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a class="youtube" target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a class="dribbble" target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="behance" target="_blank" href="#"><i class="fa fa-behance"></i></a></li>
      </ul>    
      </div>
  </div>
</div>
<div class="scrollToTop">
    <i class="fa fa-fw fa-chevron-up">
    </i>
</div>
              </footer>
  </div><!-- #page -->