			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30" style="
            background: linear-gradient(to right, rgb(7, 57, 101) 0%, rgb(146, 89, 136) 100%);
            ">
				<div class="row">
					<div class="col-sm-5">
						<a href="index-2.html" class="brand mr-30"><img src="../images/admin_image/logo.png" alt="logo" style="margin: -13px 0 0 0;;
                            height: 50px;
                            width: 140px;"/></a>
						<ul class="footer-link nav navbar-nav">
							<li class="logo-footer"><a href="#">help</a></li>
							<li class="logo-footer"><a href="#">terms</a></li>
							<li class="logo-footer"><a href="#">privacy</a></li>
						</ul>
					</div>
					<div class="col-sm-7 text-right">
						<p>2020 &copy;Hexagen Technologies</p>
					</div>
				</div>
			</footer>
			<!-- /Footer -->
			
		</div>
        <!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/javascripts/admin_js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/admin_js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/javascripts/admin_js/jquery.dataTables.min.js"></script>
	
	<!-- Slimscroll JavaScript -->
    <script src="/javascripts/admin_js/jquery.slimscroll.js"></script>
    <script src="/javascripts/admin_js/dataTables-data.js"></script>
	
	<!-- simpleWeather JavaScript -->
	<script src="/javascripts/admin_js/moment.min.js"></script>
	<script src="/javascripts/admin_js/jquery.simpleWeather.min.js"></script>
	<script src="/javascripts/admin_js/simpleweather-data.js"></script>
	
	<!-- Progressbar Animation JavaScript -->
	<script src="/javascripts/admin_js/jquery.waypoints.min.js"></script>
	<script src="/javascripts/admin_js/jquery.counterup.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/javascripts/admin_js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Sparkline JavaScript -->
	<script src="/javascripts/admin_js/jquery.sparkline.min.js"></script>
	
	<!-- ChartJS JavaScript -->
	<script src="/javascripts/admin_js/Chart.min.js"></script>
	
	<!-- Morris Charts JavaScript -->
    <script src="/javascripts/admin_js/raphael.min.js"></script>
    <script src="/javascripts/admin_js/morris.min.js"></script>
    <script src="/javascripts/admin_js/morris-data.js"></script>
	
	<script src="/javascripts/admin_js/jquery.toast.min.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/javascripts/admin_js/init.js"></script>
	<script src="/javascripts/admin_js/dashboard-data.js"></script>
	<script src="/javascripts/admin_js/form-file-upload-data.js"></script>
	<script src="/javascripts/admin_js/dropify.min.js"></script>
	<script src="/javascripts/admin_js/jasny-bootstrap.min.js"></script>
	<script src="/javascripts/admin_js/icon.js"></script>
	
		<!-- Bootstrap Touchspin JavaScript -->
		<script src="/javascripts/admin_js/jquery.bootstrap-touchspin.min.js"></script>
		
		<!-- Product Checkout Data JavaScript -->
		<script src="/javascripts/admin_js/product-checkout-data.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="/javascripts/admin_js/jquery.slimscroll.js"></script>
		<script src="/javascripts/admin_js/jasny-bootstrap.min.js"></script>


	<script src="/javascripts/admin_js/jasny-bootstrap.min.js"></script>		
	
	<!-- Form Wizard JavaScript -->
	<script src="/javascripts/admin_js/jquery.steps.min.js"></script>
	
	<!-- Data table JavaScript -->

	
	<!-- Bootstrap Touchspin JavaScript -->
	<script src="/javascripts/admin_js/jquery.bootstrap-touchspin.min.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	

	