
   <!-- Menu Open -->
        <div class="top_header">
              <div class="container">
                <div class="row threed-header-area">
                  <div class="col-xs-6 col-md-2 logo_area">
                        <a href="index">
                             <img src="images/logo.png">        		              	</a>        		            </div>
                  <div class="col-xs-6 col-md-10 threed-menu-wrap-area">
                    <nav class="menu_area  clearfix">
                          <!-- Brand and toggle get grouped for better mobile display -->
                          <div class="navbars-header">
                          <div class="hamburger hamburger--3dx-r" tabindex="0"
                               aria-label="Menu" role="button" >
                            <div class="hamburger-box">
                              <div class="hamburger-inner"></div>
                            </div>
                          </div>
                          </div>

                          <!-- Collect the nav links, forms, and other content for toggling -->
                          <div class="navbar-wrapper" >
                               <ul class="nav navbar-nav">
                              <li><a href="index" aria-current="page">Home</a></li>
<li class="menu-item-has-children"><a href="#">About us</a>
<ul class="sub-menu">
<li><a href="#">About</a></li>
<li><a href="#">Threed Technologies</a></li>
<li><a href="#">Threed Blog</a></li>
<li><a href="#">Team Members</a></li>
<li class="menu-item-has-children menu-item-2191"><a href="#">Gallery</a>
<ul class="sub-menu">
<li><a href="#">Threed Gallery grid with three column</a></li>
<li><a href="#">Threed Gallery grid with two column</a></li>
<li><a href="#">Threed Gallery Carousel</a></li>
<li><a href="#">Threed Gallery Masonry</a></li>
</ul>
</li>
<li class="menu-item-has-children"><a href="#">Banner</a>
<ul class="sub-menu">
<li><a href="#">Threed Image banner</a></li>
<li><a href="#">Threed Video Banner</a></li>
<li><a href="#">Threed revolution slider banner</a></li>
</ul>
</li>
<li class="menu-item-has-children"><a href="#">Portfolio</a>
<ul class="sub-menu">
<li><a href="#">Threed Portfolio Slider</a></li>
<li><a href="#">Threed Portfolio Masonry</a></li>
<li><a href="#">Threed Portfolio Grid</a></li>
</ul>
</li>
<li><a href="#">Pricing Table</a></li>
<li><a href="#">3 Dimensional 360 View</a></li>
<li><a href="#">Shop with us</a></li>
</ul>
</li>
<li class="menu-item-has-children"><a href="#">Services</a>
<ul class="sub-menu">
<li><a href="#">service</a></li>
<li><a href="#">service type one</a></li>
<li><a href="#">service type two</a></li>
<li><a href="#">Service type  three</a></li>
</ul>
</li>
<li><a href="#">Product</a></li>
<li><a href="login">Design your own</a></li>
<li><a href="contactus">Contact us</a></li>

  </ul>
   </li>
</ul>        		                    
</div> 
</nav>
</div>
</div>
</div>
</div>

    <!-- Header Close -->