
<html lang="en-US">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="images/fav.png" type="image/png" sizes="16x16">
    <title>INFILLHEXA</title>
    <link rel='stylesheet' href='/stylesheets/rs6.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/go_font.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/vendor.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/threed-main.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/owl.theme.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/js_composer.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/Defaults/Defaults.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/fonts.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/login.css' type='text/css' media='all' />
    
    <link rel='stylesheet' href='/stylesheets/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/advanced-buttons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/info-box.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='/javascripts/jquery.js'></script>
    <script type='text/javascript' src='/javascripts/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/javascripts/revolution.tools.min.js'></script>
    <script type='text/javascript' src='/javascripts/rs6.min.js'></script>
    <script type='text/javascript' src='/javascripts/add-to-cart.min.js'></script>
    <script type='text/javascript' src='/javascripts/woocommerce-add-to-cart.js'></script>
    <script type='text/javascript' src='/javascripts/jquery.validate.min.js'></script>
    <script type='text/javascript' src='/javascripts/ultimate-params.min.js'></script>
    <script type='text/javascript' src='/javascripts/custom.min.js'></script>
    <script type='text/javascript' src='/javascripts/jquery-appear.min.js'></script>
            <meta name="viewport" content="" />
            <meta name="generator" content=""/>
    
    </head>
    <body>
    <!-- partial:index.partial.html -->
    <div class="top_header">
                            <div class="container">
                              <div class="row threed-header-area">
                                <div class="col-xs-6 col-md-2 logo_area">
                                    <a href="index">
                                         <img src="images/logo.png">                                </a>                            </div>
                                <div class="col-xs-6 col-md-10 threed-menu-wrap-area">
                                  <nav class="menu_area  clearfix">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbars-header">
                                        <div class="hamburger hamburger--3dx-r" tabindex="0" aria-label="Menu" role="button">
                                          <div class="hamburger-box">
                                            <div class="hamburger-inner"></div>
                                          </div>
                                        </div>
                                        </div>
    
                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="navbar-wrapper">
                                            <ul class="nav navbar-nav">
                                            <li><a href="index" aria-current="page">Home</a></li>
    <li class="menu-item-has-children"><span class="mobile-dropdown"><i class="fa fa-chevron-down"></i></span><a href="#">About us</a>
    <ul class="sub-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Threed Technologies</a></li>
        <li><a href="#">Threed Blog</a></li>
        <li><a href="#">Team Members</a></li>
        <li class="menu-item-has-children menu-item-2191"><span class="mobile-dropdown"><i class="fa fa-chevron-down"></i></span><a href="#">Gallery</a>
        <ul class="sub-menu">
            <li><a href="#">Threed Gallery grid with three column</a></li>
            <li><a href="#">Threed Gallery grid with two column</a></li>
            <li><a href="#">Threed Gallery Carousel</a></li>
            <li><a href="#">Threed Gallery Masonry</a></li>
        </ul>
    </li>
        <li class="menu-item-has-children"><span class="mobile-dropdown"><i class="fa fa-chevron-down"></i></span><a href="#">Banner</a>
        <ul class="sub-menu">
            <li><a href="#">Threed Image banner</a></li>
            <li><a href="#">Threed Video Banner</a></li>
            <li><a href="#">Threed revolution slider banner</a></li>
        </ul>
    </li>
        <li class="menu-item-has-children"><span class="mobile-dropdown"><i class="fa fa-chevron-down"></i></span><a href="#">Portfolio</a>
        <ul class="sub-menu">
            <li><a href="#">Threed Portfolio Slider</a></li>
            <li><a href="#">Threed Portfolio Masonry</a></li>
            <li><a href="#">Threed Portfolio Grid</a></li>
        </ul>
    </li>
        <li><a href="#">Pricing Table</a></li>
        <li><a href="#">3 Dimensional 360 View</a></li>
        <li><a href="#">Shop with us</a></li>
    </ul>
    </li>
    <li class="menu-item-has-children"><span class="mobile-dropdown"><i class="fa fa-chevron-down"></i></span><a href="#">Services</a>
    <ul class="sub-menu">
        <li><a href="#">service</a></li>
        <li><a href="#">service type one</a></li>
        <li><a href="#">service type two</a></li>
        <li><a href="#">Service type  three</a></li>
    </ul>
    </li>
    <li><a href="#">Product</a></li>
    <li><a href="login">Design your own</a></li>
    <li><a href="#">Contact us</a></li>
    
                </ul>
                 
                                                
             </div> 
             </nav>
            </div>
         </div>
        </div>
    </div>
    <div class="main-bg">
            <div class="box-conatiner">
                <div id="a">
                    <div class="circle-ripple"></div>
                </div>
    
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <h3 class="heading-left"><i>Sign in to Continue Infillhexa</i></h3>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="wrap-login100">
                            <span class="login100-form-title">
                                Sign In
                            </span>
                            <form class="login100-form validate-form p-l-55 p-r-55 p-t-20">
                               
                                <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
                                    <input class="input100" type="text" name="username" placeholder="Username">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input" data-validate="Please enter password">
                                    <input class="input100" type="password" name="pass" placeholder="Password">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="text-right p-t-13 p-b-23">
                                    <span class="txt1">
                                        Forgot
                                    </span>
                                    <a href="/resetpass" class="txt2">
                                        / Password?
                                    </a>
                                </div>
                                <div class="container-login100-form-btn">
                                    <button class="login100-form-btn">
                                        Sign in
                                    </button>
                                </div>
                                <div class="flex-col-c p-t-140 p-b-40">
                                    <span class="txt1 p-b-9">
                                         <a href="/signup" class="txt3">
                                        Don’t have an account?
                                    </a>
                                    </span>
                                    <a href="#" class="txt4">
                                        Sign up now
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- partial -->
    <%- include('footer'); -%>
      </div><!-- #page -->
    
    <link rel="stylesheet" property="stylesheet" href="css/font-awesome.css" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400%2C500%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/animate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='/stylesheets/background-style.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='/javascripts/scripts.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
    <script type='text/javascript' src='/javascripts/owl.carousel.min.js'></script>
    <script type='text/javascript' src='/javascripts/waypoints.min.js'></script>
    <script type='text/javascript' src='/javascripts/threed-main.js'></script>
    <script type='text/javascript' src='/javascripts/js_composer_front.min.js'></script>
    <script type='text/javascript' src='/javascripts/skrollr.min.js'></script>
    <script type='text/javascript' src='/javascripts/ultimate_bg.min.js'></script>
    <script type='text/javascript'>
    var  threedsettings = {"main_product_owl_item":"3","main_product_navigation":"dots"};
    </script>
    <script type='text/javascript' src='/javascripts/owl-main-product-script.js'></script>
    </body>
    </html>
    
   