<!DOCTYPE html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="images/fav.png" type="image/png" sizes="16x16">
<title>INFILLHEXA</title>
<link rel='stylesheet' href='/stylesheets/rs6.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/go_font.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/vendor.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/threed-main.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/owl.carousel.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/owl.theme.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/js_composer.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/Defaults/Defaults.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/fonts.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/resetpass.css' type='text/css' media='all' />

<link rel='stylesheet' href='/stylesheets/style.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/advanced-buttons.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/animate.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/info-box.min.css' type='text/css' media='all' />
<script type='text/javascript' src='/javascripts/jquery.js'></script>
<script type='text/javascript' src='/javascripts/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/javascripts/revolution.tools.min.js'></script>
<script type='text/javascript' src='/javascripts/rs6.min.js'></script>
<script type='text/javascript' src='/javascripts/add-to-cart.min.js'></script>
<script type='text/javascript' src='/javascripts/woocommerce-add-to-cart.js'></script>
<script type='text/javascript' src='/javascripts/jquery.validate.min.js'></script>
<script type='text/javascript' src='/javascripts/ultimate-params.min.js'></script>
<script type='text/javascript' src='/javascripts/custom.min.js'></script>
<script type='text/javascript' src='/javascripts/jquery-appear.min.js'></script>
        <meta name="viewport" content="" />
        <meta name="generator" content=""/>


</head>
<body>
<!-- partial:index.partial.html -->
<%- include('header'); -%>
<div class="row">
  <div class="col-sm-6 col-md-6">
  <div class="pageWrapper col-xs-12">
    
      
    <h1><center><b><u>Forgot Password</u></b></center></h1>
    
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Email Address">
    </div>
    <div class="blockButtonWrapper">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        <span>Send Password</span>
      </button>
    </div>
    <div class="blockButtonWrapper">
      <button type="button" class="btn btn-default btn-lg btn-block">
        <span>Cancel</span>
      </button>
    </div>


  </div>
</div>

</div>
<!-- partial -->
 
<%- include('footer'); -%>
</div><!-- #page -->

<link rel="stylesheet" property="/stylesheet" href="/stylesheets/font-awesome.css" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400%2C500%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
<link rel='stylesheet' href='/stylesheets/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/animate.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/background-style.min.css' type='text/css' media='all' />
<script type='text/javascript' src='/javascripts/scripts.js'></script>
<script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
<script type='text/javascript' src='/javascripts/owl.carousel.min.js'></script>
<script type='text/javascript' src='/javascripts/waypoints.min.js'></script>
<script type='text/javascript' src='/javascripts/threed-main.js'></script>
<script type='text/javascript' src='/javascripts/js_composer_front.min.js'></script>
<script type='text/javascript' src='/javascripts/skrollr.min.js'></script>
<script type='text/javascript' src='/javascripts/ultimate_bg.min.js'></script>
<script type='text/javascript'>
var  threedsettings = {"main_product_owl_item":"3","main_product_navigation":"dots"};
</script>
<script type='text/javascript' src='/javascripts/owl-main-product-script.js'></script>
</body>
</html>