<footer class="footer-area footer-style-default">
   <div class="footer-bot">
   <div class="container clearfix">
   <div class="col-xs-12 col-md-6 threed-widget">
   <p> &copy; <a href="#">Infillhexa</a> Developed by Hexagen Technologies Pvt.Ltd.</p>  
   </div>
   <div class="col-xs-12 col-md-6">
   <ul class="social-area clearfix">
   <li><a class="facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>
   <li><a class="twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>
   <li><a class="google-plus" target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
   <li><a class="youtube" target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
   <li><a class="dribbble" target="_blank" href="#"><i class="fa fa-dribbble"></i></a></li>
   <li><a class="behance" target="_blank" href="#"><i class="fa fa-behance"></i></a></li>
   </ul>    
   </div>
   </div>
   </div>
   <div class="scrollToTop">
   <i class="fa fa-fw fa-chevron-up">
   </i>
   </div>
   </footer>
   </div>
   <link rel="stylesheet" href="/stylesheets/front_css/font-awesome.css" />
   <link href="https://fonts.googleapis.com/css?family=Roboto:400%2C500%2C900" rel="stylesheet" property="stylesheet" media="all" type="text/css" >
   <link rel='stylesheet' href='/stylesheets/front_css/font-awesome.min.css'/>
   <link rel='stylesheet' href='/stylesheets/front_css/animate.min.css'/>
   <link rel='stylesheet' href='/stylesheets/front_css/background-style.min.css'/>
   <script type='text/javascript' src='/javascripts/front_js/scripts.js'></script>
   <script type='text/javascript' src='/javascripts/front_js/bootstrap.min.js'></script>
   <script type='text/javascript' src='/javascripts/front_js/owl.carousel.min.js'></script>
   <script type='text/javascript' src='/javascripts/front_js/waypoints.min.js'></script>
   <script type='text/javascript' src='/javascripts/front_js/threed-main.js'></script>
   <script type='text/javascript' src='/javascripts/front_js/js_composer_front.min.js'></script>
   <script type='text/javascript' src='/javascripts/front_js/skrollr.min.js'></script>
   <script type='text/javascript' src='/javascripts/front_js/ultimate_bg.min.js'></script>
   <script type='text/javascript'>
   var  threedsettings = {"main_product_owl_item":"3","main_product_navigation":"dots"};
   </script>
   <script type='text/javascript' src='/javascripts/front_js/owl-main-product-script.js'></script>
     </body>
   </html>