<div class="top_header">
    <div class="container">
      <div class="row threed-header-area">
        <div class="col-xs-6 col-md-2 logo_area">
            <a href="index.html">
               <img src="images/front_images/logo.png">        		              	</a>        		            </div>
        <div class="col-xs-6 col-md-10 threed-menu-wrap-area">
          <nav class="menu_area  clearfix">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbars-header">
                    <div class="hamburger hamburger--3dx-r" tabindex="0"
                         aria-label="Menu" role="button" >
                      <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                      </div>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="navbar-wrapper" >
                   <ul class="nav navbar-nav">
    <li><a href="index" aria-current="page">Home</a></li>
<li><a href="#">About Us</a></li>
<li><a href="#">Products</a></li>
<li class="menu-item-has-children"><a href="#">Services</a>
<ul class="sub-menu">
<li><a href="#">service type one</a></li>
<li><a href="#">service type two</a></li>
</ul>
</li>
<li><a href="design_own">Start Design</a></li>
<li><a href="#">contact Us</a></li>
<li><a href="login">Login</a></li>
</ul>        		                    
</div> 
</nav>
</div>
</div>
</div>
</div>