<link rel='stylesheet' href='/stylesheets/rs6.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/go_font.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/style.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/vendor.css' type='text/css' media='all' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/threed-main.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/owl.carousel.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/owl.theme.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/js_composer.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/Defaults/Defaults.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/fonts.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/style.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/advanced-buttons.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/animate.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/info-box.min.css' type='text/css' media='all' />
<link rel='stylesheet' href='/stylesheets/service.css' type='text/css' />
<script type='text/javascript' src='/javascripts/jquery.js'></script>
<script type='text/javascript' src='/javascripts/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/javascripts/revolution.tools.min.js'></script>
<script type='text/javascript' src='/javascripts/rs6.min.js'></script>
<script type='text/javascript' src='/javascripts/add-to-cart.min.js'></script>
<script type='text/javascript' src='/javascripts/woocommerce-add-to-cart.js'></script>
<script type='text/javascript' src='/javascripts/jquery.validate.min.js'></script>
<script type='text/javascript' src='/javascripts/ultimate-params.min.js'></script>
<script type='text/javascript' src='/javascripts/custom.min.js'></script>
<script type='text/javascript' src='/javascripts/jquery-appear.min.js'></script>
		<meta name="viewport" content="" />
        <meta name="generator" content=""/>
        <%- include('header'); -%>
        <div class="clearfix"></div>
        <div class="container">
            <div class="row"> 
                <div class="col-md-6">
                    <img src="images/ab.jpg">
                    </div>
                    <div class="col-md-6">
                       <p class="abc"> About 60 Muslim women, who have been carrying out their demonstration against the CAA, and the proposed nationwide NRC at the Park Circus Maidan here, continued their agitation on Sunday and took the pledge to save the Constitution on the occasion of the 71st Republic Day.

                        The sit-in by the women, ranging from homemakers to professionals, against the Citizenship Amendment Act (CAA), and the proposed National Register of Citizens (NRC) on the lines of the Shaheen Bagh protest in Delhi, entered its 20th day on Sunday.
                        
                        Nausreen, one of the 60 women and a homemaker, said, "This is a different 26th January" for her, unlike past years.
                        
                        During past occasions, she had gone to Alipore Zoo, Maidan, Eco Park or some other places with her husband and son for a family picnic but this year, they are at the protest venue.
                        
        

                       </p> 
                        
                        </div>
    


            </div>


            </div>

            